.top img{
	width: 1100px;
	height: 100px;
}
.top li{
	width: 150px;
	float: left;
	font-size: 75%;
	height: 20px;
}
.top a{
	color: black;
	text-decoration: none;
}
.left{
	clear: left;
	width: 200px;
	text-align: center;
	font-size: 75%;
	background-color: gray;
}
.left img{
	height: 150px;
	width: 100px;
	padding: 20px 0px 0px 0px;
}

.footer{
    position: fixed;
    bottom: 0;
    clear: left;
    padding: 0px 450px;
    background-color: #B8B8B8;
    font-size: 75%;
    height: 32px;
    width: 210px;
}
.right{
	font-size: 100%;
	float: right;
	padding: 0px;
	height: 578px;
	width: 908px;
	position: absolute;
	top: 148px;
	right: 420px;
	background-color: #909090;
}
.right pre{
	float: left;
}
.right img{
	height: 250px;
    width: 250px;
    position: absolute;
    top: 300px;
    right: 200px;
    
}
