
.top img{
	width: 1100px;
	height: 100px;
}
.top ul{
	height: 20px;
	padding: 0px;
}
.top li{
	width: 150px;
	display: inline-block;
	font-size: 75%;
	height: 20px;
}
.top a{
	color: black;
	text-decoration: none;
}
.top{
	background-color: gray;
	width: 1100px;
	height: 160px;
}
.main{
	clear: left;
	margin: 0 auto;
	height: 1200px;
}
.left{
	float: left;
	height: 800px;
	width: 200px;
	text-align: center;
	font-size: 75%;
	background-color: gray;
	padding: 0px;
	
}
.left img{
	height: 150px;
	width: 100px;
	padding: 20px 0px 0px 0px;
}

.footer{
    clear: both;
    background-color: #B8B8B8;
    font-size: 75%;
    height: 32px;
    width: 1100px;
    text-align: center;
}
.right{
	font-size: 100%;
	float: right;
	margin: 0px 403px 0px 0px;
	height: 800px;
	width: 900px;
	background-color: #909090;
}
.right pre{
	float: left;
}
.right img{
	float: right;
}
.right a{
	color: black;
	text-decoration: none;
}


