.form-wrapper{
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

fieldset {
	border-radius: 3px;
	border: 1px solid #666;
	margin-top: 40px;
}

legend {
	font-size: 1.3em;
	padding: 3px 6px;
	color: black;
	margin-bottom: 10px;
	border-radius: 2px;
}

.form-intro h1 {
	margin-bottom: 0;
}

.form-intro h2 {
	margin-top: 5px;
	font-weight: 400;
	line-height: 1.3;
}

.form-input-wrapper {
	margin-top: 15px;
}
.form-about-wrapper legend{
	background-color: #cc3232;
}
.form-about-wrapper input:not([type="range"]){
	box-shadow: inset 0 -3px 0 #CC3232;
}
.form-about-wrapper input:not([type="range"]):focus {
	border: 1px solid #cc3232;
	box-shadow: inset 0 -3px 0 #cc3232, 0 0 15px 5px #ebebeb;	
}
input:required + label:after {
	content: "*";
	font-size: 2.1em;
	position: relative;
	top: 6px;	
	margin-left: 2px;
	color: red;
}
.clear{
	clear: both;
	height: 0px;
	width: 0px;
}
.form-input-wrapper input:focus{
	-webkit-transform: scale(1.2,1.2);
 
}
.form-input-wrapper input,textarea{
	float: right;
}
.form-input-wrapper label{
	float: left;
}
#range { 
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-left: 2px; 
	color: #fff;
	padding: 3px;
	border-radius: 50%;
	background-color: #cc3232;
}
.form-slider-wrapper{
/*	display: inline-block;*/
	float: right;
}
input:not([type="range"]),
textarea {
	width: 344px;
	height: 24px;	
	padding: 2px;
	font-size: 17px;
	border: 1px solid #ebebeb;
	outline: none;	
	background:  #f1f1f1;
	border-radius: 0;
	position: relative;
}
.form-what-wrapper legend{
	background-color: green;
}
.form-what-wrapper input{
	box-shadow: inset 0 -3px 0 green ;
}
.form-what-wrapper input:focus{
	border: 1px solid #008000;
	box-shadow: inset 0 -3px 0 #739327, 0 0 15px 5px #ebebeb ;
}
.form-about-you legend{
	background-color: #6666FF;
}
.form-about-you input{
	box-shadow: inset 0 -3px 0 #6666FF;
}
.form-about-you input:focus{
	border: #0000000x solid #6666FF;
	box-shadow: inset 0 -3px 0 #6666FF, 0 0 15px 5px #ebebeb ;
}
button{
	width: 200px;
	height: 50px;
	margin: 10px 0px;
	font-size: 130%;
	border: 1px solid black;
	background: none;
	cursor: pointer;
}
